.bigFileUpload {
    border: 1px solid goldenrod;
    margin-top: 50px;
    padding: 10px;
}

#progressbar {
    height: 20px;
    margin-bottom: 10px;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}